<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="productDetails">
        <h1>Detalles del Producto</h1>
        <div id="productInfo">
            <!-- Aquí se mostrarán los detalles del producto -->
        </div>
        <a href="dashboard.html">Volver al panel de control</a>
    </div>
    <script src="../controllers/productsController.js"></script>
    <script src="../controllers/dashboard.js"></script>
</body>
</html>
