<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="../view/style.css" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="product-details">
        <h1 id="productName"></h1>
        <p id="productDescription"></p>
        <p id="productPrice"></p>
        <br>
        <p id="productCategory"></p>
        <!-- Aquí se mostrará la imagen del producto -->
        <div id="productImage"></div>

        <div id="productList" class="product-list"></div>
        <button id="backToListButton" class="btn-back">Volver a la lista</button>
    </div>
    <script type="module" src="../models/productDetails.js"></script>
</body>
</html>